Assignment/carbooking/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:google-drive="http://www.mulesoft.org/schema/mule/google-drive"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/google-drive http://www.mulesoft.org/schema/mule/google-drive/current/mule-google-drive.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="8b99554d-d8f9-41f5-a81c-387064ff94e8" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="shireesha.s.thota@apisero.com" password="Jaihanuman@2021" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="getAllCars" doc:id="a55ed497-5baa-4981-bf01-7e4e73ea60cd" >
		<logger level="INFO" doc:name="StartLog" doc:id="a9019dd9-8a71-4db6-bde2-78a8f70e3614" message="#[payload]"/>
		<db:select doc:name="FetchCarDetails" doc:id="2cc3d4c8-8130-4564-a34f-8bb4b3e54484" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from CarBD]]></db:sql>
		</db:select>
		<ee:transform doc:name="CarDetails" doc:id="e0afa38e-eb52-44db-a99f-eaf9349dd872" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
CarBookings: payload map ( payload01 , indexOfPayload01 ) -> {
	Provider_Name: payload01.Vendor_Name,
	Car_Model: payload01.Car_Model,
	Car_Type: payload01.Car_Type,
	Price: payload01.Price,
	Source: payload01.Source,
	Destination: payload01.Destination
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="EndLog" doc:id="9cb7a31d-0858-48be-9554-ec2f24323c37" message="#[payload]"/>
	</flow>
	<flow name="cancelbooking" doc:id="9b20babf-e467-4cea-a9a5-f5f0cd0d76e7" >
		<logger level="INFO" doc:name="StartLog" doc:id="7c73a902-9c6b-4a34-aef1-bc1366d6dadd" message="#[payload]"/>
		<db:delete doc:name="DeleteBooking" doc:id="f9682194-e19d-4539-ab89-3bf5bad431f9" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from CarCustsBD where Vendor_ID=:vendorid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	vendorid:attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="BookingStatus" doc:id="b91935c8-93b8-45ce-83aa-aa2c5ad813e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Booking has been Cancelled Successfully!!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="EndLog" doc:id="f12528c6-9470-489e-8327-ced7bc11bd97" message="#[payload]"/>
	</flow>
	<flow name="bookmycar" doc:id="782c32d1-768f-4dc9-8c2e-74dc9fa5ea17" >
		<logger level="INFO" doc:name="StartLog" doc:id="37d1aace-cfb6-4f86-a6dc-7b1618c35fc8" message="#[payload]"/>
		<db:insert doc:name="SaveBookingData" doc:id="9c41c0e0-c11a-4894-a00b-5cef6041314b" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into CarCustsBD(CustomerName,Contact_details,Vendor_Name,Vendor_ID,Car_model,Source,Destination,Cartype,price,Payment_mode,Driver_Name)
values(:custname,:contactdetails,:vendorname,:vendorid,:carmodels,:source,:destination,:cartype,:price,:paymentmode,:drivername)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custname: payload.CUSTOMER_NAME,
	contactdetails: payload.CONTACT_DETAILS,
	vendorname: payload.VENDOR_NAME,
	vendorid:payload.VENDOR_ID,
	carmodels: payload.CAR_MODELS,
	source: payload.SOURCE,
	destination: payload.DESTINATION,
	cartype: payload.CAR_TYPE,
	price: payload.PRICE,
	paymentmode: payload.PAYMENT_MODE,
	drivername: payload.DRIVER_NAME
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="BookingStatus" doc:id="9047db73-d074-4c7d-be4e-4f780528ea9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	CustomerCarBooking: 
    if(payload.affectedRows >=1)
    
	{

	Status:"Car Booking Successfully!!!"
	}
	else
	Status:"Car booking failed!!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="EndLog" doc:id="c9181c9a-749e-41b3-bc4b-551523159234" message="#[payload]"/>
	</flow>
	<flow name="syncCarBookingDBToFile" doc:id="548c0a6e-5936-4183-a01b-57733c5a15aa" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="a7ab9c00-cfb1-4790-8d4a-8d8331f4729e" >
			<scheduling-strategy >
				<cron expression="0 0/1 * * * ?" timeZone="Asia/Kolkata"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="StartLog" doc:id="a9542ebf-88c9-493e-a4f8-02013a8cd1a7" message='#["Scheduler Started"]'/>
		<db:select doc:name="FetchVendorDetails" doc:id="a035e4d1-235e-475a-ad65-584ce430aa9c" config-ref="Database_Config">
			<db:sql ><![CDATA[select distinct Vendor_ID from CarCustsBD]]></db:sql>
		</db:select>
		<choice doc:name="Choice" doc:id="635db7f8-2d21-4450-87dc-5f89f5716376" >
			<when expression="#[not isEmpty(payload)]">
				<flow-ref doc:name="getProviderDetails" doc:id="6d204888-1bfc-4a7b-9be0-c36e3918e2c2" name="saveProviderDetails" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No Records" doc:id="777643cc-d4d9-4de6-bbb0-06769a4a8f84" message='#["No Records"]'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="EndLog" doc:id="7fe0f5e3-e80c-47dd-aea0-0fd2db6ac2a3" message='#["Scheduler end"]'/>
	</flow>
	<flow name="saveProviderDetails" doc:id="9a8945a5-0c04-45be-9a6a-079bb72e12bf" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="46483228-4add-41a2-a35a-007e278f3cb9" >
			<route >
				<flow-ref doc:name="getOlaDetails" doc:id="201f7393-70e8-4f89-8bb9-76eac0badc56" name="OlaProvider"/>
			</route>
			<route >
				<flow-ref doc:name="getUberDetails" doc:id="3fb57e1e-7d9e-4918-b20d-37caa7e6b173" name="UberProvider"/>
			</route>
		</scatter-gather>
	</flow>
	<flow name="OlaProvider" doc:id="67b557ce-4f2a-4226-9365-73a7b0ea0c81" >
		<db:select doc:name="FetchOlaDetails" doc:id="fd5e6fd6-2e33-430e-8aaf-c261d7bd5c31" config-ref="Database_Config">
			<db:sql><![CDATA[select CustomerName,Contact_details,Vendor_Name,Vendor_ID,Car_model,Source,Destination,Cartype,price,Payment_mode,Driver_Name from CarCustsBD where Vendor_ID=1]]></db:sql>
		</db:select>
		<file:write doc:name="OlaData.csv" doc:id="11fdfb86-3e3c-4369-a349-622a8a4a67ff" config-ref="File_Config" path="C:\Users\shireeshasthota\Documents\main_assignment\carbooking\src\main\resources\OlaBookings.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false --- payload]]]></file:content>
		</file:write>
		<file:read doc:name="ReadData" doc:id="bfa7dfbe-de26-4f1c-8fa7-80785e0965ec" config-ref="File_Config" path="C:\Users\shireeshasthota\Documents\main_assignment\carbooking\src\main\resources\OlaBookings.csv" />
		<email:send doc:name="SentEmail" doc:id="8bfd85d8-e2f4-416a-ae2f-bf76caade9aa" config-ref="Email_SMTP" fromAddress="shireesha.s.thota@apisero.com" subject="ProviderDetailsList">
			<email:to-addresses>
				<email:to-address value="uppiretla.a.mallika@apisero.com" />
				<email:to-address value="shireesha.s.thota@apisero.com" />
			</email:to-addresses>
			<email:body>
				<email:content><![CDATA[#["please find attached details"]]]></email:content>
			</email:body>
			<email:attachments><![CDATA[#[{
	"Attachment.csv":payload
}]]]></email:attachments>
		</email:send>
	</flow>
	<flow name="UberProvider" doc:id="b7321fa6-7c1f-49e3-aff6-6db9ea0f4bff" >
		<db:select doc:name="FetchUberDetails" doc:id="5b83f5da-38ac-4391-a062-9c9718c659a8" config-ref="Database_Config" >
			<db:sql ><![CDATA[select CustomerName,Contact_details,Vendor_Name,Vendor_ID,Car_model,Source,Destination,Cartype,price,Payment_mode,Driver_Name from CarCustsBD where Vendor_ID=2]]></db:sql>
		</db:select>
		<file:write doc:name="UberData.csv" doc:id="8b13b12b-2a30-42c6-bc3d-4785ded7f470" config-ref="File_Config" path="C:\Users\shireeshasthota\Documents\main_assignment\carbooking\src\main\resources\UberBookings.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false --- payload]]]></file:content>
		</file:write>
		<file:read doc:name="ReadData" doc:id="b3fb401a-fada-4573-b8a5-661f132e98fb" config-ref="File_Config" path="C:\Users\shireeshasthota\Documents\main_assignment\carbooking\src\main\resources\UberBookings.csv"/>
		<email:send doc:name="SentEmail" doc:id="f959198c-94b3-481a-948e-198d736cc397" config-ref="Email_SMTP" fromAddress="shireesha.s.thota@apisero.com" subject="ProviderDetailsList" >
			<email:to-addresses >
				<email:to-address value="uppiretla.a.mallika@apisero.com" />
				<email:to-address value="shireesha.s.thota@apisero.com" />
			</email:to-addresses>
			<email:body >
				<email:content ><![CDATA[#["please find attached details"]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
	"Attachment.csv":payload
}]]]></email:attachments>
		</email:send>
	</flow>
</mule>
